@import "tailwindcss";

/* theme tokens (primary = putih, secondary = hitam) */
@theme {
  --color-primary: #ffffff;
  --color-primary-foreground: #0a0a0a;

  --color-secondary: #0a0a0a;
  --color-secondary-foreground: #ffffff;

  --color-muted: #f3f4f6;
  --color-muted-foreground: #4b5563;
}

/* optional global tweaks */
:root { color-scheme: light dark; }
html, body { height: 100%; }
